site_name: Git Config Getter
theme: 
  name: material
  palette:
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

docs_dir: docs
nav:
  - Home: index.md
